}

.site-header,
.site-footer {
	padding:20px;
	color:#868B91;
	background:#F4F4F4;
	font-family: Lekton;
}
.site-header h1 {
	margin-bottom:0;
	color:#868B91;
}
.site-nav {
	float:right;
}
.site-nav ul {
	list-style:none;
	padding-left: 0;
}
.site-nav li {
	display:inline-block;
	margin-right:0.5em;	
}
.site-header {
	border-bottom:2px solid #F4F4F4;
}
.box1 {
	width:200px;
	height:200px;
	background:#FFE9B2;
	font-size:40px;
	text-align:center;
	font-family: Open sans;
	line-height:200px;
	color:#868B91;
	float: none; 
	position: absolute; 
	top: 25%; 
	left: 15%;

	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius: 50%;

}
.box2 {
	width:200px;
	height:200px;
	background:#B7FFEB;
	font-size:50px;
	text-align:center;
	line-height:200px;
	color:#868B91;
	float: none; 
	position: absolute; 
	top: 40%; 
	left: 75%;

	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius: 50%;
}
.box3 {
	width:200px;
	height:200px;
	background:#F6BA92;
	font-size:50px;
	text-align:center;
	line-height:200px;
	color:#868B91;
	float: none; 
	position: absolute; 
	top: 25%; 
	left: 65%; 

	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius: 50%;
}
.box4 {
	width:200px;
	height:200px;
	background:#B2D1F0;
	font-size:50px;
	text-align:center;
	line-height:200px;
	color:#868B91;
	float: none; 
	position: absolute; 
	top: 65%; 
	left: 15%; 

	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius: 50%;
}
.box5 {
	width:200px;
	height:200px;
	background:#E3E6ED;
	font-size:50px;
	text-align:center;
	line-height:200px;
	color:#868B91;
	float: none; 
	position: absolute; 
	top: 85%; 
	left: 40%;

	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius: 50%;
}
.box6 {
	width:200px;
	height:200px;
	background:#CCF0B1;
	font-size:50px;
	text-align:center;
	line-height:200px;
	color:#868B91;
	float: none; 
	position: absolute; 
	top: 65%; 
	left: 65%;

	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius: 50%;
}
.box7 {
	width:200px;
	height:200px;
	background:#F8ACAF;
	font-size:50px;
	text-align:center;
	line-height:200px;
	color:#868B91;
	float: none; 
	position: absolute; 
	top: 45%; 
	left: 40%;

	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius: 50%;
}
.box8 {
	width:200px;
	height:200px;
	background:#FEF0D3;
	font-size:50px;
	text-align:center;
	line-height:200px;
	color:#868B91;
	float: none; 
	position: absolute; 
	top: 55%; 
	left: 45%;

	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius: 50%;
}
.box9 {
	width:200px;
	height:200px;
	background:#E2DCC6;
	font-size:50px;
	text-align:center;
	line-height:200px;
	color:#868B91;
	float: none; 
	position: absolute; 
	top: 65%; 
	left: 20%;

	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius: 50%;
}
.box10 {
	width:200px;
	height:200px;
	background:#C5F6F6;
	font-size:50px;
	text-align:center;
	line-height:200px;
	color:#868B91;
	float: none; 
	position: absolute; 
	top: 85%; 
	left: 50%;

	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius: 50%;
}